* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}    

body {
    background-color: #13293d;
    margin: 0;
}    

main {
    display: f;    
}

a {
    color: #ffffff;
    text-decoration: none;
}    

button {
    font-size: 26px;
    font-weight: bolder;
    background-color: inherit;
}

p {
    font-size: 16px;
}  

.background img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
    height: 200px;
    border: 2px;
    align-items: center;
}

.background p {
    display: flex;
text-align: center;
justify-content: center;
}

.main-header h1 {
    display: inline-block;
    font-size: 48px;
}

.main-header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

.main-header div ul li {
    display: inline-block;
    margin-left: 25px;
}


.main-header {
    padding: 10px;
    background-color: #005b8885;
    color: #ffffff;
}    


.background {
    padding: 20px;
    background-color: #2589bd;
    color: white;
    background-size: 100%;
}    

.background h2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.main-header a:hover {
   color: hotpink;
}

.project {
    flex: 2;
    background-color: #13293d;
    color: white;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

.card {
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    padding: 4px;
    flex: 0 0 200px;
    background-color: grey;
  }
  
.card header {
    font-size: 26px;
    font-weight: bolder;
  }
 
.card img {
    width: 100%;
  }

.contact {
    color: white;
    text-align: center;
    }

.footer {
    padding: 10px;
    clear: both;
    text-align: center;
    background-color: #005b8885;
}    

.footer h2 {
    font-size: 14px;
}    
